@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --seconday-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: #ffee63;
}

/* header section  */
header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 51, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color);
}

body{
    background: #080808;
    color: #fff;
}